.postContainer {
  margin-top: 2rem;
}

.postContainer h1 {
  font-size: 2.75rem;
  font-weight: 700;
}

.postContainer p {
  white-space: pre-line;
  font-size: 1.1rem;
  font-weight: 400;
}

/* .postConatiner */